.memes{
    display: flex;
    flex: 3;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }

.meme-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 40px;
    background-color: white;
    color: black;
    align-items: center;
    border: 1px solid black;
    border-top: 0px;
}
.meme-interior p{
    max-width: 400px;
  }
  
.meme-card img{
    border-radius: 5%;
}

.likes{
    display: flex;
    align-items: center;
    gap: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.containerDeLikes input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerDeLikes {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  transition: 100ms;
}

.checkmark {
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  transition: 100ms;
  animation: dislike_effect 400ms ease;
}

.containerDeLikes input:checked ~ .checkmark path {
  fill: #FF5353;
  stroke-width: 0;
}

.containerDeLikes input:checked ~ .checkmark {
  animation: like_effect 400ms ease;
}

.containerDeLikes:hover {
  transform: scale(1.1);
}

@keyframes like_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes dislike_effect {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


